/* app background color */
body {
    /* we don't need a 100% white background */
    background-color: rgb(245, 245,245);
}

/* no overflow => scrollable document */
html {
    overflow: hidden;
}

/* style of the table for the playlist or view all*/
#renderedPlaylist {
    display: block; /* display type */
    overflow: auto; /* scrollable like the sidebar because there a ton of tracks */
    max-height: 705px; /* max height to perform the scroll */
}

/* define the lightblue color for an element and the text inside need to be white */
.lightblue {
    background-color: #00C2FF;
    color: white;
}

/* turquoise color for some buttons in the sidebar */
.turquoise {
    background-color: #56D9F9;
    color: white;
}

/* lighter blue color for some others buttons in the sidebar */
.lighterblue {
    background-color: #88E8FF;
    color: white;
}

/* fast css method to apply a margin of 32% */
.marginLeft32p{
    margin-left: 32%;
}

/* shift the result on the right */
#totalNumberOfMusic {
    margin-left: 46%;
}

/* resizing the icons on the left in the top navbar */
.navleftIcon {
    width: 50px;
    /* height: 50px; */
}

/* return 180° an element */
.rotate180 {
    transform: rotate(180deg); 
}

/* 2KEY logo */
.mainLogo {
    /* about the font */
    font-weight: bold; 
    font-size: larger;
    /* center vertically and horizontally */
    padding: 20px 170px !important; 
}

/* big wheel on top of the sidebar */
#camelotImg {
    width: 200px; /* real width */
    margin-left: 24%; /* left offset */
    margin-top: 20px; /* top offset */
}

/* import and export icons width */
.ioIcons {
    width: 25%;
}
/* import icon style */
#importButton {
    float: left; /* on the left */
    width: 42%; /* button width */
    margin-bottom: 10px;
}
/* exportt icon style */
#exportButton {
    float: right; /* on the right */
    margin-right: 5%; /* offset from the right button */
    width: 42%; /* button width */
    margin-bottom: 10px;
}

/* the sidebar need to be a little bit under the top navbar and light blue */
#sidebar {
    width: 400px;
    background-color: rgb(116,193,255); 
}

/* the content at the right of the side bar*/
.mainContent {
    margin-left: 400px;
}

/* nav items have to be center vertically*/
.navMiddleButton {
    /* center vertically and horizontally */
    padding: 20px 16px !important;
    font-size: larger;
}

/* inside the sidebar : the text is white,centered */
.sidebarItem {
    text-align: center !important;
    color: white;
}

/* white and bolder text inside the side bar */
.textSideBar{
    font-weight: bolder;
    color: white;
}

/* side bar text margin */
.textSideBarMargin{
    margin-left: 5%;
    margin-top: 5%;
}

/* for all playlist name in sidebar */
.playlistName {
    margin-left: 7% !important; /* offset from the left */
}

/* for all playlist Button in sidebar */
.playlistButton {
    float: right; /* at the right of the text */
    margin-right: 45px;
}

/* special class to create a "badge" based on the themes */
.playlistBadge{
    background-color: #88E8FF;
    padding: 10px 8px 10px 8px;
    margin-left: 35% !important;
    border-radius: 5px;
}

/* shifting the result */
.textSideBarMargin span{
    margin-left: 37%;
}

/* allow the scroll inside the sidebar */
.playlistmenuinner {
    overflow: auto;
}

/* resize the playlist icon on the left */
#playlistIcon {
    width: 30px;
    height: 30px;
}

/* special class for a element in the sidebar */
.sidebarElement {
    margin-left: 5%;
    margin-top: 20px;
    width: 90%;
    font-size: larger;
}

/* instead of w3-right */
.navLeftElement {
    margin-left: 49%;
}

/* width 100% */
.width100{
    width: 100%;
}

/* set up the overflow for the playlist names in the sidebar */
#playlistNameContainer {
    overflow:auto; 
    height: 320px; /* we need a height to enable the overflow */
}

/* BIG TABLETS */
@media only screen and (max-width: 992px) and (min-width: 772px) {
    .mainLogo {
        padding: 20px 3% !important; 
    }
    .mainContent {
        margin-left: 0;
    }
    #renderedPlaylist {
        display: block;
        overflow: auto;
        max-height: 490px;
    }
}

/* MID TABLETS */
@media only screen and (max-width: 772px) {
    .mainLogo {
        padding: 20px 20px !important; 
    }
    .mainContent {
        margin-left: 0;
    }
    .navLeftElement {
        margin-left: 4%;
    }
    #renderedPlaylist {
        display: block;
        overflow: auto;
        max-height: 490px;
    }
}

/* MOBILES */
@media only screen and (max-width: 600px) {
    .mainLogo {
        padding: 20px 23% !important;
    }
    .mainContent {
        margin-left: 0;
    }
    #sidebar {
        width: 100%;
    }
    .marginLeft32p {
        margin-left: 16%;
    }
    .textSideBarMargin span {
        margin-left: 20%;
    }
    #totalNumberOfMusic {
        margin-left: 33%;
    }
    #camelotImg {
        margin-left: 28%;
    }
    #renderedPlaylist{
        display: block !important;
        overflow: auto !important;
    }
    #renderedPlaylist {
        display: block;
        overflow: auto;
        max-height: 390px;
    }
    #playlistNameContainer {
        overflow:auto; 
        height: 280px;
    }
}

