/* app background color */
body {
    background-color: rgb(245, 245,245);
}

/* resizing the icons on the left in the top navbar */
.navleftIcon {
    width: 50px;
    /* height: 50px; */
}

.mainLogo {
    font-weight: bold;
    font-size: larger;
    /* center vertically and horizontally */
    padding: 20px 170px !important; 
}

/* the sidebar need to be a little bit under the top navbar and light blue */
#sidebar {
    width: 400px;
    background-color: rgb(116,193,255); 
}

.mainContent {
    margin-left: 400px;
}

/* nav items have to be center vertically*/
.navMiddleButton {
    /* center vertically and horizontally */
    padding: 20px 16px !important;
    font-size: larger;
}

/* inside the sidebar : the text is white,centered */
.sidebarItem {
    text-align: center !important;
    color: white;
}

/* resize the playlist icon on the left */
#playlistIcon {
    width: 30px;
    height: 30px;
}

.sidebarElement {
    margin-left: 5%;
    margin-top: 20px;
    width: 90%;
    font-size: larger;
}

@media only screen and (max-width: 992px) and (min-width: 772px) {
    .mainLogo {
        padding: 20px 3% !important; 
    }
    .mainContent {
        margin-left: 0;
    }
}

@media only screen and (max-width: 772px) {
    .mainLogo {
        padding: 20px 20px !important; 
    }
    .mainContent {
        margin-left: 0;
    }
}

@media only screen and (max-width: 600px) {
    .mainLogo {
        padding: 20px 33% !important;
    }
    .mainContent {
        margin-left: 0;
    }
}

